.header {
  background-color: #202020;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 20px 0;
}

.header__list {
  display: flex;
}

.list__item:not(last-child) {
  margin-right: 25px;
}

.social__img {
  color: #ffffff;
}

.social__link :not(last-child) {
  margin: 0 5px 0 0;
}
