@import "../vars.scss";
.main {
  &__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 50px 0;
  }
  &__button {
    width: 80%;
    height: 50px;
    font-weight: 500;
    margin: 25px 0 25px 0;
    padding: 8px 10px;
    background: #667dfa;
    color: $fff-white;
    font-size: 1.25rem;
    &:hover,
    :focus {
      color: #667dfa;
      background: $fff-white;
      transition: all 0.3s ease-in-out;
    }
  }
}
.section {
  color: $fff-white;
  &__list {
    font-size: 20px;
  }
  &__main-image {
    position: relative;
    width: 545px;
    height: 450px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
    transform: rotate(-30deg) skew(25deg) scale(0.8);
    transition: 0.5s;
  }
  &__main-image img {
    position: absolute;
    width: 100%;
    transition: 0.5s;
    padding: 0 20px 0 0;
  }
  &__title {
    font-size: 3rem;
    font-weight: 700;
  }
  &__info {
    max-width: 400px;
  }
  &__item {
    list-style-type: none;
    margin-bottom: 5px;
  }
  &__main-image {
    &:hover img:nth-child(4) {
      transform: translate(140px, -140px);
      opacity: 1;
    }
    &:hover img:nth-child(3) {
      transform: translate(120px, -120px);
      opacity: 0.8;
    }
    &:hover img:nth-child(2) {
      transform: translate(80px, -80px);
      opacity: 0.6;
    }
    &:hover img:nth-child(1) {
      transform: translate(40px, -40px);
      opacity: 0.4;
    }
  }
}
.main-question {
  background: $fff-white;
  color: $dark;
}
.questions {
  padding: 25px 0;
  &__title {
    font-size: 2em;
    text-align: center;
  }
}
.collapse {
  &__item {
    margin: 25px 0 25px 0;
  }
  &__content {
    padding: 15px;
    display: none;
    overflow: hidden;
  }
  &__text {
    color: $dark;
    font-size: 20px;
  }
  &__drop {
    position: relative;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 20px;
    color: $dark;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    font-weight: 700;
  }
}
.arrow {
  position: absolute;
  right: 20px;
}
.section-members {
  padding: 0 0 25px 0;
  text-align: center;
  &__title {
    font-size: 2em;
    font-weight: 700;
    padding: 25px 0 0 0;
  }
  &__subtitle {
    margin: 15px 0 15px 0;
  }
  &__stuff {
    display: flex;
    gap: 37px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0 25px 0;
  }
}
.stuff {
  &__item {
    background: $fff-white;
    color: $dark;
    border-radius: 18px;
    max-width: 300px;
    text-align: center;
    width: 100%;
  }
  &__detail {
    padding: 10px 12px;
  }
  &__card img {
    border-radius: 20px 20px 0px 0px;
  }
  &__img {
    object-fit: cover;
  }
}
.publications {
  &__book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 15px 0;
    text-align: center;
  }
  &__title {
    font-size: 2em;
    font-weight: 700;
  }
}
.book {
  &__subtitle {
    margin: 25px 0 25px 0;
  }
  &__image {
    margin-right: 25px;
  }
  &__image img {
    border-radius: 20px;
  }
  &__authors span {
    margin: 0 5px 0 0;
  }
}
.authors {
  &__link {
    text-decoration: none;
    padding: 4px 8px;
    border: 1px solid $fff-white;
    color: $fff-white;
    &:not(last-child) {
      margin-right: 5px;
    }
  }
}
